{% extends 'base.html.twig' %}

{% block title %}Listes des Argonautes{% endblock %}

{% block body %}
    <!-- New member form -->
    <h2>Ajouter un(e) Argonaute</h2>
    <div class="argonaut-form">
        {{ form_start(form) }}
        {{ form_label(form.name) }}
        {{ form_widget(form.name, { 'attr' : { 'class' : 'name-field' }}) }}
        <button class="form-button" type="submit">Envoyer</button>
        {{ form_end(form) }}
    </div>

    <hr>

    <!-- Member list -->
    <h2>Membres de l'équipage <span class="member-count">{{ members|length }}/50</span></h2>
    <p class="help">Cliquez sur un membre pour le supprimer !</p>
    <div class="member-list">
        {% for member in members %}
            <div class="member-item">{{ include('home/_delete.html.twig') }}</div>
        {% endfor %}
    </div>
{% endblock %}
